@model GarmentShopAPI.Models.StatusTable

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_OperaterLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>StatusTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StatusId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
